body, html{
  background: linear-gradient(126deg, #0f0f0f, #3d3d3d);
}

.title {
  display: block;
  font-weight: 500;
  margin-left: 0 auto;
  font-size: 60px;
  color: #FD5B5C;
  text-align: center;
}


.about{
  font-size: 24px;
  color:white;
  display: flex;
  text-align: center;
  margin: 0 auto;
  min-height: 12em;
  width:60%;
}

.bar {
  display: block;
  height: 160px;
  width: 160px;
}

.navigation {
  width:10%;
  height:30%;
  position:fixed;
  overflow-x:hidden;
  font-size: 19px;
  left:20px;
  top:180px;
  bottom:0;
  background-image: url("textbox.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  opacity:0;
  padding: 40px 20px;
  transform:translateY(-100px);
  transition:300ms;
  opacity: 0;

}

.navigation.open {
  transform:translateY(0%);
  opacity: .8;
  cursor: pointer;
}

.navigation a {
  font-size:18px;
  display:block;
  padding:.3em;
  text-decoration: none;
  transition:300ms;
  transition-delay:700ms;
  transform:translateY(10%);
}

.navigation.open a {
  color:white;
  display:block;
  transform:translateY(0%);
}

.navigation.open a:nth-child(3) {
  transition-delay:500ms;
}

.navigation.open a:nth-child(4) {
  transition-delay:600ms;
}

.navigation.open a:nth-child(5) {
  transition-delay:700ms;
}

.button{
  display:block;
  position: fixed;
  z-index: 20;
  top:20px;
  left:20px;
  font-size:18px;
  transition:300ms;
  padding:1em;
  background-image: url("logo.svg");
  cursor: pointer;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.button.active {
  background-image: url("logo.svg");
  cursor: pointer;

}
